models filter=lfs diff=lfs merge=lfs -text
requirements.txt filter=lfs diff=lfs merge=lfs -text
test_SVR.py filter=lfs diff=lfs merge=lfs -text
combineFeature.m filter=lfs diff=lfs merge=lfs -text
evaluate_bvqa_features_regression.py filter=lfs diff=lfs merge=lfs -text
feat_files filter=lfs diff=lfs merge=lfs -text
demo_compute_NSS_feats.m filter=lfs diff=lfs merge=lfs -text
include filter=lfs diff=lfs merge=lfs -text
mos_files filter=lfs diff=lfs merge=lfs -text
run_all_bvqa_regression.sh filter=lfs diff=lfs merge=lfs -text
train_SVR.py filter=lfs diff=lfs merge=lfs -text
LIVE-Meta-Gaming_idx.npy filter=lfs diff=lfs merge=lfs -text
demo_compute_CNN_feats.py filter=lfs diff=lfs merge=lfs -text
result filter=lfs diff=lfs merge=lfs -text
